div{
  margin-top: 0px;
  /*background-color: #96d1c7*/;
  background: rgb(221,221,221);
}

.p{
  line-height: 1.5;
}
.hero{
  background: rgb(221,221,221);
  height: 950px;
}
.container {3
  text-align: center;
  color: black;
  background-color: white;
}

.dd{
  margin-top: 0px;
  margin-bottom: 0px;
  }

.headings{
  width: 1350px;
  padding-top: 20px;
  background: rgb(34,31,31);
  }

h1{
  color: rgb(255,255,255);
  position: relative;
  left: 0px;
  top: -10px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 60px;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

body{
  width: 1350px;
  top: 0px;
  text-align: center;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Merriweather', serif;
}

.top{
padding-top: 0px;
}

.skill{
height: 100px;
width: 100px;
margin-right: 30px;
float: left;
}

.Develope{
  height: 100px;
  width: 100px;
  margin-left: : 30px;
  float: right;
}

.skillss{
height: 100px;
width: 100px;
margin-right: 30px;
float: left;
}

.skill-row{
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: left;
  line-height: 1.5;
  margin-top: 0px;
  margin-bottom: 0px;
}

hr{

  height: 1px;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 30%
}

.bottom-container{
  width: 1350px;
  background: rgb(34,31,31);
  padding-bottom: 10px;
  padding-top: 10px;
}
.footer-link{
font-size: 18px;
}


.downs{
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.5cm;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.copyw{
color: rgb(255,255,255);
margin-bottom: 0px;
font-size: 15px;
}
